body{
  font:'Montserrat',sans-serif;
}

h1{
  font: 'Montserrat-Black',sans-serif;
  line-height: 1.5;
  size: 3rem;
  color: #fff;
}

h3{
  font: 'Montserrat-Bold',sans-serif;

}

#title{
  /* background-color: #2E4C6D; */
}

h2{
  color:white;
  font-family: 'Montserrat-Bold',sans-serif;
  font-size:2.5rem;
  text-align:center;
  text-height:1.5;
  padding: 5% ;

}

p{
  color: #8f8f8f;
  font: 'Montserrat';
}


#title{
  padding: 4% 1%;
  margin-bottom:
}


.container-fluid{
  padding:3% 5%;
  margin-bottom: 15px;
}

.rotated-image{
  transform: rotate(25deg);
  width:60%;
  margin-left:50px;
}
/* navbar */
.navbar-brand{
  font-family: 'Ubuntu';
  font-size:2.5rem;
  font-weight: bold;
}
.navbar{
  padding-bottom: 4.5rem;
}

.navbar-item{
  padding:0px 20px;
}

.navbar-link{
  margin: 0px 100px;
}

/* button */

.download-button{
  margin: 15% 3% 5% 0%;
}
/* features */



.seconde-row{
  padding: 7% 8%;
  text-align:center;
}

/* icon */

.icon{
  color: #C1FFD7;
  margin-bottom: 1rem;
}

.icon:hover{
  color: #2E4C6D;
}

/* testimonials */
testimonials{
padding : 4%;
}

.carousel-inner{
  text-align:center;
  background-color: #2E4C6D;
  padding: 7% 15%;

}

.testimonial-img{
  width:15%;
  border-radius: 100%;
  padding: 2%;
}

/* press */

#press{
  background-color:  #ef8172;
  text-align: center;
}

.press-img{
  width:10%;
  margin-bottom: 20px;
  text-align: center;

}

/* Pricing */
#pricing{
  padding: 4% 15%;
  background-color: white;

}

.card{
  display: inline-block;
  text-align: center;
  padding: 0% 1%;
  margin: 0px,20px;
}

.price{
  color:black;
  font-family: 'Montserrat-Bold';
  text-height:1rem;
}
.paragraph-price{
  text-align: center;
}
/* titlesection */
.iphonepicture{
  position:absolute;
  width: 20%;
  left: 800px;
  top:300px;
  margin-left: 0px,40px;



}

#features{
/* the one to whom we changed the zindex is the one we set relative for */
  background-color: white;
  position: relative;
  z-index: 1;
  padding: 3% 2%;

}

@media (max-width: 1000px){
  .iphonepicture{
    position:static ;

  }
}

#cta{
  background-color: #FF4C68;
  color: #fff;
  text-align: center;
  font-size: 60%;
  padding: 15% 4% ;
}

.ctah3{
  margin-bottom: 7rem;
  font-family: "Montserrat Black",cursive;
  font-size: 2.5rem;
  line-height: 1.5;
}

.cta-button{
  margin: 15%,3%,3%,15%;
}

.button-last{
  margin:  10px 5px ;
}

#footer{
  text-align: center;
}

.Copyright{
  padding: 7% 15%;
}

.lasticons{
  margin: 20px 7px;
}
#QCM{
  text-align: center;

}
#QCM h1 {
  font-family: 'Sora', cursive;
  line-height: 2;
}
.qcm{
  position: relative;
}

.line-1{
  top: 20% ;
  position:absolute;
}
.line-2{
  top: 80%;
  position: absolute;
  padding: 0% 25%;

}
.QCMbutton{
  position: absolute;
  top: 95%;
  padding: 0% 45%;
}
#gamify{
  background-color: #3E065F;
  text-align: center;
}
#gamify h1 {
  font-family: 'Sora', cursive;
  line-height: 2;
}
.gamifyimg{
  padding: 7% 25%;
}
.icon1{
  color: #3E065F;
  margin-bottom: 1rem;
}
#picture{
  padding: 3% 7%;
}
/* the new section of instructors */
.me{
  border-radius: 50% ;
  /* height: 50%; */
}
.aboutme{
  padding : 30% 5% ;
  text-align : center ;
}
